{% extends "socialaccount/base.html" %}
{% load i18n %}

{% block auth_content %}

  {% if process == "connect" %}
    <div class="info-container">
      <h1 class="info-heading">
        {% blocktrans with provider.name as provider %}Connect {{ provider }}{% endblocktrans %}
      </h1>

      <p class="info-text-2">
        {% blocktrans with provider.name as provider %}
          You are about to connect a new third party account from {{ provider }}.
        {% endblocktrans %}
      </p>

      <form method="post" class="mt-4">
        {% csrf_token %}
        <button class="mustard-btn" type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
  {% else %}
    <div class="info-container">
      <h1 class="info-heading">
        {% blocktrans with provider.name as provider %}Sign In Via {{ provider }}{% endblocktrans %}
      </h1>

      <p class="info-text-2">{% blocktrans with provider.name as provider %}You are about to sign in using a third party account from {{ provider }}.{% endblocktrans %}</p>
    
      <form method="post" class="mt-4">
        {% csrf_token %}
        <button class="mustard-btn" type="submit">{% trans "Continue" %}</button>
      </form>
    </div>
  {% endif %}

{% endblock auth_content %}