{% extends 'base.html' %}
<body class="bg-almost-black font-open-sans">

  {% block navbar %}
  <nav class="nav-container">
    <div class="flex justify-between">
      <div class="self-center">
        <a 
            href="{% url 'pages:homepage' %}" 
            class="font-bold text-xl md:text-2xl text-white font-montserrat-alternatives"
          >
            <span class="text-fuchsia-600">Feed</span><span class="text-fuchsia-300">genics</span>
          </a>
      </div>
    </div>
  </nav>
  {% endblock navbar %}
  
  
    
  {% block content %}
    <div class="w-full h-screen flex justify-center">
      {% block auth_content %}{% endblock auth_content %}
    </div>
  {% endblock content %}
    


</body>

</html>