{% extends "account/base.html" %}

{% load i18n %}

{% block title %}{% trans "Sign Out" %}{% endblock %}

{% block content %}
  
  <div class="auth-form-container">
    <h1 class="auth-form-heading">{% trans "Sign Out" %}</h1>

    <p class="info-text-1">{% trans 'Are you sure you want to sign out?' %}</p>
    <p class="auth-form-helptext">{% trans 'We are so sad to see you go, hope you come back soon.' %}</p>

    <form method="post" action="{% url 'account_logout' %}">
      {% csrf_token %}
      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
      {% endif %}
      <button class="danger-btn mt-4" type="submit">{% trans 'Sign Out' %}</button>
      
    </form>
    <button class="auth-form-linktext mt-2" href="#">{% trans 'I changed my mind, take me back please' %}</button>
  </div>

{% endblock %}
