{% extends "account/base.html" %}

{% load i18n %}
{% load account %}

{% block head_title %}{% trans "Password Reset" %}{% endblock %}

{% block content %}

  <div class="auth-form-container">
    <h1 class="auth-form-heading" >{% trans "Password Reset" %}</h1>
    {% if user.is_authenticated %}
      {% include "account/snippets/already_logged_in.html" %}
    {% endif %}

    <p class="auth-form-subheading">
      {% trans "Forgotten your password? Enter your e-mail address below, and we'll send you an e-mail allowing you to reset it." %}
    </p>

    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
      {% csrf_token %}
      <div>
        <label class="auth-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
        <input 
        type="email"
        class="auth-form-input"
        id="{{ form.email.id_for_label }}" 
        name="{{ form.email.name }}" 
        value="{% if form.email.value %}{{ form.email.value }} {% else %}""{% endif %}"
        required={{ form.email.required }}
        />
      </div>
      <div class="mt-4">
        <button class="auth-form-btn-1" type="submit" >{% trans 'Reset My Password' %}</button>
      </div>
    </form>

    <div class="mt-4">
      <p class="auth-form-helptext">{% blocktrans %}Please contact us if you have any trouble resetting your password.{% endblocktrans %}</p>
    </div>
  </div>
{% endblock %}
