{% extends "account/base.html" %}

{% load i18n %}
{% block title %}{% trans "Change Password" %}{% endblock %}

{% block content %}
  <div class="auth-form-container">
    <h1 class="auth-form-heading">
      {% if token_fail %}
        {% trans "Bad Token" %}
      {% else %}
        {% trans "Change Password" %}
      {% endif %}
    </h1>
    
    {% if token_fail %}
      {% url 'account_reset_password' as passwd_reset_url %}
      <p class="info-text-2">
        {% blocktrans %}
          The password reset link was invalid, possibly because it has already been used.  Please request a 
          <a class="auth-form-linktext" href="{{ passwd_reset_url }}">new password reset</a>.
        {% endblocktrans %}
      </p>
    {% else %}
      <form method="POST" action="{{ action_url }}">
        {% csrf_token %}
        
        <div class="space-y-2">
          {% for field in form %}
            <label class="auth-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input 
              type="{{ field.field.widget.input_type }}"
              class="auth-form-input" 
              id="{{ field.id_for_label }}"
              name="{{ field.name }}"
              value="{% if field.value %}{{ field.value }}{% else %}""{% endif %}"
              required="{{ field.field.required }}"
            />
          {% endfor %}
        </div>
        
        <div class="mt-4">
          <button class="auth-form-btn-1" type="submit" name="action">{% trans 'change password' %}</button>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
