{% extends "account/base.html" %}
{% load i18n account socialaccount %}

{% block title %}{% trans "Create an account at Feedgenics" %}{% endblock %}

{% block auth_content %}
  <div class="auth-form-container">
    <h1 class="auth-form-heading">{% trans "Signup" %}</h1>

    <form 
      class="" 
      id="signup_form" 
      method="post" 
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %}
      
      <div class="space-y-2">
        {% for field in form %}
          <div>
            <label class="auth-form-label" for="{{ field.id_for_label }}">{{ field.label }}</label>
            <input 
              type="{{ field.field.widget.input_type }}"
              class="auth-form-input" 
              id="{{ field.id_for_label }}"
              name="{{ field.name }}"
              value="{% if field.value %}{{ field.value }}{% else %}""{% endif %}"
              required="{{ field.field.required }}"
            />
            {% if field.errors %}
              {% for error in field.errors %}
                <small class="auth-form-error">{{ error }}</small>
              {% endfor %}
            {% endif %}
          </div>
        {% endfor %}
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="mt-4 space-y-3">
        <button class="auth-form-btn-1" type="submit">{% trans "Create Account" %}</button>
        <div class="flex space-x-2">
          <p class="auth-form-helptext self-center">
            {% blocktrans %}
              Already have an account?
            {% endblocktrans %}
          </p>
          <p class="self-center">
            <a class="auth-form-linktext" href="{% url 'account_login' %}">sign in</a>
          </p>
        </div>

        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}

          <p class="auth-form-helptext">Continue with social account</p>

          <div class="space-y-2 mt-2">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </div>

          {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
      </div>
    
      
    </form>
  </div>
{% endblock auth_content %}
