{% extends "account/base.html" %}
{% load i18n %}

{% block title %}{% trans "Create an account at Feedgenics" %}{% endblock %}

{% block content %}
  <div class="px-6 md:px-10 py-8 md:w-3/5 lg:w-2/5 bg-white mx-5 mt-16 md:mt-20 mb-20 rounded-md">
    <h1 class="text-center uppercase text-3xl py-4 font-bold text-black">{% trans "Signup" %}</h1>

    <form 
      class="" 
      id="signup_form" 
      method="post" 
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %}
      
      <div class="space-y-2">
        <div>
          <label class="auth-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          <input 
            type="text"
            class="auth-form-input"
            id="{{ form.email.id_for_label }}" 
            name="{{ form.email.name }}" 
            value="{% if form.email.value %}{{ form.email.value }} {% else %}""{% endif %}"
            required={{ form.email.required }}
          />
        </div>
        <div>
          <label class="auth-form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
          <input 
            type="password"
            class="auth-form-input" 
            id="{{ form.password1.id_for_label }}"
            name="{{ form.password1.name }}"
            value="{% if form.password1.value %}{{ form.password1.value }}{% else %}""{% endif %}"
            required="{{ form.password1.required }}"
          />
        </div>
        <div>
          <label class="auth-form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
          <input 
            type="password"
            class="auth-form-input"
            id="{{ form.password2.id_for_label }}"
            name="{{ form.password2.name }}"
            value="{% if form.password2.value %}{{ form.password2.value }}{% else %}""{% endif %}"
            required="{{ form.password2.required }}"
          />
        </div>
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="mt-4 space-y-3">
        <button class="auth-form-btn-1" type="submit">{% trans "Create Account" %}</button>
        <div class="flex space-x-2">
          <p class="auth-form-helptext self-center">
            {% blocktrans %}
              Already have an account?
            {% endblocktrans %}
          </p>
          <p class="self-center">
            <a class="text-blue-700 underline underline-offset-4" href="{% url 'account_login' %}">sign in</a>
          </p>
        </div>
        <div class="flex flex-col">
          <a href="{% url 'google_login' %}" class="auth-form-btn-2 text-center">
            Or Continue With Google
          </a>
        </div>
      </div>
    
      
    </form>
  </div>
{% endblock content %}
