{% extends "account/base.html" %}
{% load i18n account socialaccount %}

{% block title %}{% trans "Create an account at Feedgenics" %}{% endblock %}

{% block auth_content %}
  <div class="auth-form-container">
    <h1 class="auth-form-heading">{% trans "Signup" %}</h1>

    <form 
      class="" 
      id="signup_form" 
      method="post" 
      action="{% url 'account_signup' %}"
    >
      {% csrf_token %}
      
      <div class="space-y-2">
        <div>
          <label class="auth-form-label" for="{{ form.email.id_for_label }}">{{ form.email.label }}</label>
          <input 
            type="email"
            class="auth-form-input"
            id="{{ form.email.id_for_label }}" 
            name="{{ form.email.name }}" 
            value="{% if form.email.value %}{{ form.email.value }} {% else %}""{% endif %}"
            required={{ form.email.required }}
          />
        </div>
        <div>
          <label class="auth-form-label" for="{{ form.password1.id_for_label }}">{{ form.password1.label }}</label>
          <input 
            type="password"
            class="auth-form-input" 
            id="{{ form.password1.id_for_label }}"
            name="{{ form.password1.name }}"
            value="{% if form.password1.value %}{{ form.password1.value }}{% else %}""{% endif %}"
            required="{{ form.password1.required }}"
          />
        </div>
        <div>
          <label class="auth-form-label" for="{{ form.password2.id_for_label }}">{{ form.password2.label }}</label>
          <input 
            type="password"
            class="auth-form-input"
            id="{{ form.password2.id_for_label }}"
            name="{{ form.password2.name }}"
            value="{% if form.password2.value %}{{ form.password2.value }}{% else %}""{% endif %}"
            required="{{ form.password2.required }}"
          />
        </div>
      </div>

      {% if redirect_field_value %}
      <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
      {% endif %}

      <div class="mt-4 space-y-3">
        <button class="auth-form-btn-1" type="submit">{% trans "Create Account" %}</button>
        <div class="flex space-x-2">
          <p class="auth-form-helptext self-center">
            {% blocktrans %}
              Already have an account?
            {% endblocktrans %}
          </p>
          <p class="self-center">
            <a class="auth-form-linktext" href="{% url 'account_login' %}">sign in</a>
          </p>
        </div>

        {% get_providers as socialaccount_providers %}
        {% if socialaccount_providers %}

          <p class="auth-form-helptext">Continue with social account</p>

          <div class="space-y-2 mt-2">
            {% include "socialaccount/snippets/provider_list.html" with process="login" %}
          </div>

          {% include "socialaccount/snippets/login_extra.html" %}
        {% endif %}
      </div>
    
      
    </form>
  </div>
{% endblock auth_content %}
