[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
requests = "*"
delorean = "*"
ipython = "*"
schedule = "*"
twilio = "*"
python-dotenv = "*"
django = "*"
psycopg2-binary = "==2.9.3"
django-extensions = "==3.1.5"
werkzeug = "==2.0.3"

[dev-packages]

[requires]
python_version = "3.9"
