[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"

[packages]
feedparser = "*"
requests = "*"
delorean = "*"
ipython = "*"
schedule = "*"
twilio = "*"
python-dotenv = "*"
django = "*"
psycopg2-binary = "==2.9.3"
django-extensions = "==3.1.5"
werkzeug = "==2.0.3"
django-allauth = "==0.48.0"
pytest-django = "==4.5.2"
pytest-cov = "==3.0.0"
coverage = "==6.3.1"
factory-boy = "==3.2.1"
faker = "==13.0.0"
pytest-factoryboy = "==2.1.0"

[dev-packages]

[requires]
python_version = "3.9"
